@inherits UiComponentBase

<button
    @onclick="@NavigateToRegister"
    @attributes="AdditionalAttributes"
    class="@(Merge("px-[72px] py-3 bg-[#21bf73] text-white rounded-[8px] text-base tracking-wider shadow-[0_8px_8px_rgba(0,0,0,0.08)] border border-transparent hover:bg-[#1aa65f] transition-all duration-300"))">
    @ChildContent
</button>

@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; } = [];

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("auth/register");
    }
}