<div class="grid grid-cols-2 gap-4">
    <Button Href="/api/v1/auth/sso/google/" Variant="outline">
        <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/24px-Google_%22G%22_logo.svg.png"
            alt="google" class="h-6 w-6"/>
        <span class="sr-only">Google</span>
    </Button>

    @* Href="/api/v1/auth/sso/meta/" *@
    <Button disabled Variant="outline">
        <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/24px-Facebook_f_logo_%282019%29.svg.png"
            alt="facebook" class="h-6 w-6"/>
        <span class="sr-only">Facebook</span>
    </Button>
</div>