@page "/404"
@using Presentation.Components.Layout
@layout EmptyLayout
@attribute [AllowAnonymous]

<div class="flex items-center min-h-screen px-4 py-12 sm:px-6 md:px-8 lg:px-12 xl:px-16">
    <div class="w-full space-y-6 text-center">

        @* // TODO i like this, lets use this as AuthHeader *@
        <div class="space-y-3">
            <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl">404 - Lost in Cyberspace</h1>
            <p class="text-2xl text-gray-500">Looks like you've ventured into the unknown digital realm.</p>
        </div>

        <AuthorizeView>
            <Authorized>
                <Button Href="home" Size="lg">
                    Return to home
                </Button>
            </Authorized>
            <NotAuthorized>
                <Button Href="auth/login" Size="lg">
                    Login
                </Button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
