@page "/"
@using Domain.Common
@inject IJSRuntime Js

<PageTitle>Home</PageTitle>

<div class="h-full flex-1 space-y-4 p-8 pt-6">
    <div class="flex items-center justify-between space-y-2">
        <h2 class="text-3xl font-bold tracking-tight">Home</h2>
    </div>

    <AuthorizeView>
        <h1>Hello, @(context.User.Identity?.Name?.SplitName()?.First ?? "world")</h1>
    </AuthorizeView>

    <div id="globeContainer" style="z-index: 1000"></div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // importing will run the code
            await Js.InvokeAsync<IJSObjectReference>("import", "./scripts/globe.min.js");
        }
    }
}
