@page "/404"
@attribute [AllowAnonymous]

<div class="w-full flex items-center px-4 py-12">
    <div class="w-full space-y-6 text-center">
        <div class="space-y-3">
            <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl">
                @Locale._404_header
            </h1>
            <p class="text-2xl text-gray-500">
                @Locale._404_description
            </p>
        </div>

        <AuthorizeView>
            <Authorized>
                <Button Href="/" Size="lg">
                    @Locale._404_return_home
                </Button>
            </Authorized>
            <NotAuthorized>
                <Button Href="/auth/login" Size="lg">
                    @Locale.login
                </Button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
