@page "/user_dashboard"
@layout HomeLayout
@attribute [StreamRendering]
@using Presentation.Components.Pages.UserDashboard.Packages
@using Microsoft.AspNetCore.Components.Sections

<PageTitle>Dashboard</PageTitle>
<SectionContent SectionId="HomeLayout.TitleSectionId">Dashboard</SectionContent>

<UserPaymentStatus/>

<div class="grid gap-4 lg:grid-cols-2">
    <CreatePackage/>
    <PackageList/>
</div>