<p class="text-sm text-start text-muted-foreground">
    @Locale.you_must_agree_to_our
    <Link Href="terms" Title="@Locale.terms"/>
    @Locale.and
    <Link Href="privacy" Title="@Locale.privacy_policy"/>
</p>