<p class="text-xs text-start text-muted-foreground">
    You must agree to our
    <a href="terms" class="underline underline-offset-4 hover:text-primary">
        terms
    </a>
    and
    <a href="privacy" class="underline underline-offset-4 hover:text-primary">
        privacy policy
    </a>
</p>