<Card>
    <Header>
        <CardTitle>Cookie settings</CardTitle>
        <Description>Manage your cookies here.</Description>
    </Header>
    <Content class="grid gap-6">
        <div class="flex items-center justify-between space-x-2">
            <FormLabel for="necessary" class="flex flex-col space-y-1">
                <span>Strictly Necessary</span>
                <span class="text-muted-foreground text-xs font-normal leading-snug">
                    These cookies are essential in order to use the website and use its features.
                </span>
            </FormLabel>
            <Switch id="necessary" @bind-Value="A" aria-label="Necessary" />
        </div>
        <div class="flex items-center justify-between space-x-2">
            <FormLabel for="functional" class="flex flex-col space-y-1">
                <span>Functional Cookies</span>
                <span class="text-muted-foreground text-xs font-normal leading-snug">
                    These cookies allow the website to provide personalized functionality.
                </span>
            </FormLabel>
            <Switch id="functional" @bind-Value="B" aria-label="Functional" />
        </div>
        <div class="flex items-center justify-between space-x-2">
            <FormLabel for="performance" class="flex flex-col space-y-1">
                <span>Performance Cookies</span>
                <span class="text-muted-foreground text-xs font-normal leading-snug">
                    These cookies help to improve the performance of the website.
                </span>
            </FormLabel>
            <Switch id="performance" @bind-Value="C" aria-label="Performance" />
        </div>
    </Content>
    <Footer>
        <Button Variant="outline" class="w-full">
            Save
        </Button>
    </Footer>
</Card>

@code {
    public bool A { get; set; }
    public bool B { get; set; }
    public bool C { get; set; }
}
