@inherits UiComponentBase

@if (CurrentValue.Equals(Value))
{
    <div @attributes="@AdditionalAttributes"
         class="@(Merge("ring-offset-background focus-visible:ring-ring mt-2 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"))">
        @ChildContent
    </div>
}

@code {
    [CascadingParameter(Name = nameof(Tabs.Value))]
    public object CurrentValue { get; set; } = null!;

    [Parameter, EditorRequired]
    public object Value { get; set; } = null!;
}