@inherits UiComponentBase

<div @attributes="@AdditionalAttributes">
    <CascadingValue Name="@nameof(Value)" Value="@Value">
        <CascadingValue Name="@nameof(ChangeValue)" Value="ChangeValue">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    [Parameter, EditorRequired]
    public object Value { get; set; } = null!;

    [Parameter]
    public EventCallback<object>? ValueChanged { get; set; }

    public void ChangeValue(object value)
    {
        Value = value;
        InvokeAsync(() => ValueChanged?.InvokeAsync(value) ?? Task.CompletedTask);
        StateHasChanged();
    }
}