@inherits UiComponentBase

<button
    data-state="@(CurrentValue.Equals(Value) ? "active" : "inactive")"
    @onclick="@(() => ChangeValue(Value))"
    @attributes="@AdditionalAttributes"
    class="@(Merge("ring-offset-background focus-visible:ring-ring " +
                   "data-[state=active]:bg-background data-[state=active]:shadow-sm data-[state=active]:text-foreground " +
                   "inline-flex items-center justify-center whitespace-nowrap " +
                   "rounded-sm px-3 py-1.5 text-sm font-medium transition-all select-none focus-visible:outline-none " +
                   "focus-visible:ring-2 focus-visible:ring-offset-2 " +
                   "disabled:cursor-not-allowed disabled:text-destructive"))">
    @ChildContent
</button>

@code {
    [Parameter]
    [CascadingParameter(Name = nameof(Tabs.Value))]
    public object CurrentValue { get; set; } = null!;

    [CascadingParameter(Name = nameof(Tabs.ChangeValue))]
    public Action<object> ChangeValue { get; set; } = null!;

    [Parameter, EditorRequired]
    public object Value { get; set; } = null!;
}