<Button Size="icon" Variant="outline" onclick="window.toggleTheme()" class="!size-9 relative transform-gpu transition-all duration-300 ease-in-out" aria-label="Toggle theme">
    <Blazicon Svg="@Icons.Sun" class="absolute rotate-0 dark:rotate-90 opacity-100 dark:opacity-0"/>
    <Blazicon Svg="@Icons.Moon" class="absolute dark:rotate-0 rotate-90 dark:opacity-100 opacity-0"/>
</Button>