@page "/addresses"
@using Domain.ValueObjects
@using Presentation.Components.Ui.Tabs

<PageTitle>Addresses</PageTitle>

<div class="h-full flex-1 space-y-4 pt-6">
    <div class="flex items-center justify-between space-y-2">
        <h2 class="text-3xl font-bold tracking-tight">My addresses</h2>
    </div>

    <Tabs Value="usa" class="space-y-4">
        <List>
            <Trigger Value="usa">United states</Trigger>
            <Trigger Value="uk">United Kingdom</Trigger>
        </List>
        <Content Value="usa" class="space-y-4">
            <AddressDisplay
                Rate="@(new Money((Currency)"USD", 7))"
                Address1="21-A Brookside Dr."
                City="Wilmington"
                State="DE"
                ZipCode="19804"
                Country="United States"
                Phone="+1 302 691 0017"/>
        </Content>
        <Content Value="uk" class="space-y-4">
            <AddressDisplay
                Rate="@(new Money((Currency)"USD", 9))"
                Address1="13 Oglethorpe Road"
                City="Dagenham"
                State="Essex"
                ZipCode="RM10 7SA"
                Country="United Kingdom"
                Phone="+44 7450 949016"/>
        </Content>
    </Tabs>
</div>
