<footer class="border-grid border-t bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60 py-6 mt-auto md:px-8 md:py-0">
    <div class="container-wrapper">
        <div class="container py-4">
            <div class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left">
                Built by
                <a href="https://twitter.com/ddjerqq" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4">
                    ddjerqq
                </a>.
                Contact:
                <a href="https://t.me/tenxdeveloper" target="_blank" rel="noreferrer"
                   class="font-medium underline underline-offset-4">
                    Telegram
                </a>.
            </div>
        </div>
    </div>
</footer>