@using Application.Services
@using Domain.ValueObjects
@inject ICurrentUserAccessor CurrentUser
@inject IAppDbContext DbContext

<header class="border-grid fixed top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
    <div class="container flex h-14 items-center justify-between">
        <div class="mr-4 flex">
            <a class="mr-4 flex items-center gap-2 lg:mr-6" href="@HomeUrl">
                <Blazicon Svg="@Icons.Truck" class="!size-8"/>
                <span class="hidden font-bold lg:inline-block">Dashboard</span>
            </a>

            <AuthorizeView>
                <NotAuthorized>
                    <a class="mr-4 flex items-center gap-2 lg:mr-6" href="/">
                        <Blazicon Svg="@Icons.Truck" class="!size-8"/>
                        <span class="hidden font-bold lg:inline-block">Home</span>
                    </a>
                </NotAuthorized>
            </AuthorizeView>

            <nav class="flex items-center text-sm gap-4 sm:gap-6">
                <AuthorizeView Roles="User">
                    <Authorized>
                        <HeaderNavLink Href="/addresses" Title="My Addresses"/>
                        <HeaderNavLink Href="/track_package" Title="Track Package"/>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Staff">
                    <Authorized>
                        <HeaderNavLink Href="/packages/all" Title="Packages"/>
                        @* <HeaderNavLink Href="/packages/add" Title="Receive pkg"/> *@
                        @* <HeaderNavLink Href="/packages/send" Title="Send pkg"/> *@

                        <HeaderNavLink Href="/races/all" Title="Races"/>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <HeaderNavLink Href="/users/all" Title="Manage users"/>
                        <HeaderNavLink Href="/users/all" Title="Manage packages"/>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView>
                    <NotAuthorized>
                        <HeaderNavLink Href="/about" Title="About us"/>
                        <HeaderNavLink Href="/faq" Title="Faq"/>
                        <HeaderNavLink Href="/calculate" Title="Calculator"/>
                    </NotAuthorized>
                </AuthorizeView>
            </nav>
        </div>

        <div class="flex align-middle space-x-2">
            <ThemeToggle/>
            <AuthStatus/>
        </div>
    </div>
</header>

@code {
    private string HomeUrl => CurrentUser.Role switch
    {
        Role.User => "/user_dashboard",
        Role.Staff => "/staff_dashboard",
        Role.Admin => "/admin_dashboard",
        _ => "/",
    };
}
