@inherits LayoutComponentBase

<main style="align-items: center;" class="w-full h-full flex flex-col justify-between">
    <LandingHeader/>

    <section style="margin-inline: 0;" class="w-full container px-0 mt-12 mx-0">
        @Body
    </section>

    <AppFooter />
</main>
