@inherits LayoutComponentBase

<main class="w-full h-full flex flex-col justify-between">
    <LandingHeader/>

    <section class="w-full container px-0 mt-12">
        @Body
    </section>

    <AppFooter />
</main>
