<AuthorizeView Roles="Staff,Admin">
    <Authorized>
        <Button Size="icon" Variant="outline" class="w-9 h-9" Href="/search">
            <Blazicon Svg="@Lucide.Search"/>
        </Button>
    </Authorized>
</AuthorizeView>
