<header class="border-grid fixed top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
    <div class="container flex h-14 items-center justify-between">
        <div class="mr-4 flex">
            <a class="mr-4 flex items-center gap-2 lg:mr-6" href="/home">
                <Blazicon Svg="@Icons.Truck" class="!size-8"/>
                <span class="hidden font-bold lg:inline-block">SanGoWay</span>
            </a>

            <nav class="flex items-center text-sm gap-4 sm:gap-6">
                <NavLink href="/home" Match="NavLinkMatch.All" ActiveClass="active"
                         class="hover:text-foreground text-foreground/80 [&.active]:font-bold [&.active]:text-primary transition-colors">
                    Home
                </NavLink>

                <NavLink href="/addresses" Match="NavLinkMatch.All" ActiveClass="active"
                         class="hover:text-foreground text-foreground/80 [&.active]:font-bold [&.active]:text-primary transition-colors">
                    Addresses
                </NavLink>

                <NavLink href="/cards" Match="NavLinkMatch.All" ActiveClass="active"
                         class="hover:text-foreground text-foreground/80 [&.active]:font-bold [&.active]:text-primary transition-colors">
                    Cards
                </NavLink>
            </nav>
        </div>

        <AuthStatus/>
    </div>
</header>