@layout EmailLayout
@using Domain.Aggregates
@using Domain.Common
@using Microsoft.AspNetCore.Components.Sections
@inherits ComponentBase

<SectionContent SectionId="EmailLayout.TitleSectionId">
    Your account is scheduled for deletion :(
</SectionContent>

<EmailParagraph>
    We are sorry to see you go, however, you have a 30 day grace period to recover your account!
</EmailParagraph>

<hr style="border:none;border-top:1px solid #eaeaea;margin:26px 0;width:100%;"/>

<EmailParagraph>
    To recover your account, just login with your email and password normally.
</EmailParagraph>

<EmailCta Href="@($"https://{WebAppDomain}/auth/login")" Title="login" target="_blank"/>

<SectionContent SectionId="@EmailLayout.FooterSectionId">
    If you did not request this action, please contact our support immediately.<br/>
    This email was sent to @User.Email.
    Support email: <a href="mailto:support@sangoway.com">support@sangoway.com</a>
</SectionContent>

@code {
    private static string WebAppDomain => "WEB_APP__DOMAIN".FromEnvRequired();

    [Parameter]
    public User User { get; set; } = null!;

    [Parameter]
    public string CallbackUrl { get; set; } = null!;
}
