@layout EmailLayout
@using Domain.Aggregates
@using Microsoft.AspNetCore.Components.Sections
@inherits ComponentBase

<SectionContent SectionId="EmailLayout.TitleSectionId">
    You requested a password reset for your <strong style="color:#040;font-weight:bold;">Sangoway</strong> account
</SectionContent>

<SectionContent SectionId="@EmailLayout.FooterSectionId">
    If you did not request a password reset, please ignore this email.
    This email was sent to @User.Email.
    If you have any questions, please <a href="mailto:support@sangoway.com">contact us</a>
</SectionContent>

<EmailParagraph>
    Please click on the link below to reset your password.
</EmailParagraph>

<EmailCta Href="@CallbackUrl" Title="Reset password" target="_blank"/>

@code {
    [Parameter]
    public User User { get; set; } = null!;

    [Parameter]
    public string CallbackUrl { get; set; } = null!;
}
