@page "/auth/forgot_confirmation"
@attribute [AllowAnonymous]

<PageTitle>Forgot password confirmation</PageTitle>


<PageTitle>Forgot password?</PageTitle>

<div class="p-6 md:p-8 space-y-4">
    <AuthHeader Title="Please check your Email" Description="A link with the password reset code has been sent to you."/>
</div>
