@page "/auth/reset_password_confirmation"
@attribute [AllowAnonymous]

<PageTitle>Password reset successfully</PageTitle>

<AuthHeader Title="Password reset successfully" Description="Your password has been reset."/>

<Button Href="auth/login" Variant="outline">
    Login
</Button>
