@page "/auth/reset_password_confirmation"

<PageTitle>@Locale.password_reset_successfully</PageTitle>
<PageHeader Title="@Locale.password_reset_successfully" Description="@Locale.your_password_has_been_reset"/>
<Button Href="auth/login" class="w-full">
    @Locale.login
</Button>
