@page "/admin_dashboard"
@layout HomeLayout
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Admin dashboard</PageTitle>

<AdminStatus/>

@* <div class="grid gap-4 lg:grid-cols-2"> *@
@*     <CreatePackage/> *@
@*     <AllPackages/> *@
@* </div> *@