<div class="my-32 w-full">
    <h2 class="text-4xl font-semibold mb-8">
        How it works:
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-stretch gap-4 justify-around">
        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserPlus" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    Step 1: Register
                </CardTitle>
            </Header>
            <Content class="flex flex-col gap-4 text-muted-foreground">
                Create a new account to use our services!
                <CtaButton>
                    Register!
                </CtaButton>
            </Content>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.Warehouse" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    Step 2: Copy your address
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                After you register, You will receive an address that you can use for online shopping.<br/><br/>
                Copy the address and save it on your desired ECommerce website
            </Content>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.BookCheck" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    Step 3: Add packages
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                After you buy products online, Please declare them in your SanGoWay account.
            </Content>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.Plane" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    Step 4: Receive packages!
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                After your package arrives, you will be able to pay for it.<br/><br/>
                After you pay for shipping, you will receive your package
            </Content>
        </Card>
    </div>
</div>
