<div class="my-32 w-full">
    <h2 class="text-4xl font-semibold mb-8">
        What our customers are saying
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-stretch gap-4 justify-around">
        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserRound" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                </CardTitle>
            </Header>
            <Content class="flex flex-col gap-4 text-muted-foreground">
                "This platform has transformed how I work. Highly recommended!"
            </Content>
            <Footer>
                - Tamar Bibileishvili
            </Footer>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserRound" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>

                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                "The best decision I made this year. Incredible support and features!"
            </Content>
            <Footer>
                - Ani Martiashvili
            </Footer>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserRound" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                "Outstanding quality and attention to detail. They truly care!"
            </Content>
            <Footer>
                - Mariam Nikoladze
            </Footer>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserRound" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                "I can't imagine going back to how things were before this service."
            </Content>
            <Footer>
                - Giorgi Bagrationi
            </Footer>
        </Card>
    </div>
</div>