<div class="relative w-full h-96">
    <img src="https://img.freepik.com/premium-photo/sleek-truck-drives-down-winding-road-surrounded-by-lush-greenery-sunset-symbolizing-transport-freedom_1317057-45136.jpg?ga=GA1.1.194258550.1748344244&semt=ais_items_boosted&w=740" alt="Background" class="w-full h-full object-cover rounded-lg" />
    <div class="absolute inset-0 bg-black/50 rounded-lg"></div>
    <div class="absolute inset-0 flex items-center justify-center text-white">
        <h1>
            Trust Us, we are the best.
        </h1>
    </div>
</div>