@using System.ComponentModel.DataAnnotations
@inherits UiComponentBase

<div aria-level="@Level"
     role="heading"
     @attributes="@AdditionalAttributes"
     class="@(Merge("text-lg font-semibold leading-none tracking-tight"))">
    @ChildContent
</div>

@code {
    [Parameter]
    [AllowedValues("1", "2", "3", "4", "5", "6")]
    public string Level { get; set; } = "3";
}