<label class="@Tw.Merge(BaseClass, Class)"
       @attributes="@AdditionalAttributes">
    @ChildContent
</label>

@code {
    public const string BaseClass = "flex justify-between text-sm font-medium leading-none peer-[.invalid]:text-green-700 peer-[.valid]:text-green-700 peer-required:after:content-['*'] peer-disabled:cursor-not-allowed peer-disabled:opacity-70";

    [Parameter]
    public string Class { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = [];
}