<div class="w-full grid grid-cols-2 gap-2 items-start justify-between" @attributes="@AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = [];
}